defaults:
  - _self_
  - gen_model: large_maf
  - disc_model: mlp

hydra:
  sweeper:
    max_batch_size: 1

experiment:
  output_folder: models/
  relabel_with_disc_model: true
  seed: 42
  cv_folds: 5
  use_gpu: false

dataset:
  _target_: counterfactuals.datasets.FileDataset
  config_path: config/datasets/moons.yaml

disc_model:
  train_model: false
  epochs: 2000
  batch_size: 128
  patience: 200
  lr: 0.001

gen_model:
  train_model: false
  epochs: 200
  patience: 100
  lr: 0.001

counterfactuals_params:
  cf_method:
    _target_: counterfactuals.cf_methods.DiCoFlex
  target_class: 1
  p_values: [2.0]
  inference_p_value: 2.0
  n_neighbors: 16
  noise_level: 0.02
  train_batch_factuals: 4
  val_ratio: 0.2
  # Number of candidates to sample from the flow (should be >= cf_samples_per_factual)
  num_counterfactuals: 200
  # Number of counterfactuals to keep per instance (used for pairwise distance)
  cf_samples_per_factual: 100
  sampling_batch_size: 256
  inference_mask_index: 0
  use_actionability_mask: true
  custom_masks: []
  log_prob_quantile: 0.25
  metrics_conf_path: counterfactuals/pipelines/conf/metrics/dicoflex.yaml
