---
repos: 
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10
    hooks:
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, "--ignore", "F841,E741,E711" ]
        exclude: ^notebooks/
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: ["check", "--select", "I", "--fix"]
        exclude: ^notebooks/
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
        exclude: ^notebooks/
